@font-face
  font-family: "ProximaNova"
  src: url(/public/ProximaNova400.woff) format('woff')

$font-family-sans-serif: "ProximaNova"
$text-color: rgb(52, 52, 52)
$link-hover-color: #007196
$headings-font-weight: 800

@import bootstrap
@import font-awesome



#top
  background-color: #04394e
  padding-left: 3em

  h1
    padding-top: 0.2em
    display: inline-block
    width: 172px
    margin-top: -1px
    a
      color: white

  a
    color: #84aebe
    &:hover
      text-decoration: none

  ul
    display: inline-block
    position: absolute
    top: 5px
    li
      padding: 0 1em
      line-height: 3em
      display: inline-block
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      webkit-border-radius: 5px
      moz-border-radius: 5px
      border-radius: 5px
      &:hover
        background-color: #084963

body
  -webkit-font-smoothing: antialiased
  background-color: #fbfbfb

main
  border-bottom: 1px solid #eeeeee
  min-height: 85vh

g.node
  &.red
    fill: red
  &.yellow
    fill: yellow
  &.green
    fill: green

#overview
  @media (min-width: 768px)
    .dl-horizontal
      dt
        width: 210px
      dd
        margin-left: 220px

dt:after
  content: ":"

.tabs
  border-bottom: 1px solid #ddd
  margin-top: 20px
  margin-bottom: 12px
  li
    border: none
    margin: 0
    float: left

    a
      background: none
      color: #898989
      line-height: 1em
      padding: 0 1em 1.5em 1em
      border: none
      margin: 0
      &:hover, &.active
        background: none
        color: #007196
        box-shadow: 0 -1px #007196 inset, 0 1px #007196

#search
  background: transparent
  border: 1px solid #ddd
  width: 180px
  font-size: 11pt

.left-inner-addon
  position: relative

.left-inner-addon input
  padding-left: 20px

.left-inner-addon i
  position: absolute
  padding: 5px 5px

h1.status, tr.status
  border-left: 5px solid #eee
  -webkit-transition: border-color 0.5s ease
  -moz-transition: border-color 0.5s ease
  -o-transition: border-color 0.5s ease
  transition: border-color 0.5s ease
  &.red
    border-color: #d9534f
  &.yellow
    border-color: #f0ad4e
  &.green
    border-color: #dff0d8

h1.status
  padding-left: 6px

footer
  margin: 0 auto
  padding: 1em 0
  text-align: center

.row-border
  padding: 10px 0 15px 0
  margin: 20px 0

.event
  min-height: 42px
  h3
    margin: 6px
  .left
    border-left: 1px solid #eee
    border-right: 1px solid #eee

  @media (min-width: 768px)
    .dl-horizontal
      dt
        width: 130px
      dd
        margin-left: 140px
