@font-face
  font-family: "ProximaNova"
  src: url(/public/ProximaNova400.woff) format('woff')

$font-family-sans-serif: "ProximaNova"
$text-color: rgb(52, 52, 52)
$link-hover-color: #007196
$headings-font-weight: 800

@import bootstrap

#top
  background-color: #04394e
  padding-top: 1em
  padding-bottom: 1em
  padding-left: 3em

  h1
    display: inline
    a
      color: white

  a
    color: #84aebe
    &:hover
      text-decoration: none

  ul
    display: inline
    li
      padding: 0 1em
      line-height: 3em
      display: inline-block
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      webkit-border-radius: 5px
      moz-border-radius: 5px
      border-radius: 5px
      &:hover
        background-color: #084963

body
  -webkit-font-smoothing: antialiased
  background-color: #fbfbfb
  min-height: 100vh

#left
  @include make-sm-column(2)
  padding-top: 1.9em

  #search_box input
    width: 100%

  ul
    list-style: none

main
  border-bottom: 10px solid #eeeeee

@media (min-width: 768px)
  .dl-horizontal
    dt
      width: 210px
    dd
      margin-left: 220px

#summary
  dt:after
    content: ":"

.tabs
  border-bottom: 1px solid #ddd
  margin-top: 20px
  margin-bottom: 12px
  li
    border: none
    margin: 0
    float: left

    a
      background: none
      color: #898989
      line-height: 1em
      padding: 0 1em 1.5em 1em
      border: none
      margin: 0
      &:hover, &.active
        background: none
        color: #007196
        box-shadow: 0 -1px #007196 inset, 0 1px #007196

h1.status, tr.status
  border-left: 5px solid #eee
  &.red
    border-color: #d9534f
  &.yellow
    border-color: #f0ad4e
  &.green
    border-color: #dff0d8

h1.status
  padding-left: 4px

footer
  margin: 0 auto
  padding: 1em 0
  text-align: center
  box-shadow: 0 1px #eeeeee inset

.row-border, .event
  padding: 10px 0 15px 0
  margin: 20px 0
  border-bottom: 1px solid #eee
